# ===== segredos =====
.env
server/firebase-admin.json
*.pem
*.key

# ===== node =====
node_modules/
dist/
.vite/

# ===== engine / edopro / binários / submodules =====
EDOPro/
Multirole/
ocgcore/

server/duel/*.exe
server/duel/*.dll
server/duel/*.so
server/duel/*.dylib
server/duel/*.bin
server/duel/*.dat

# ===== logs / temp =====
*.log
tmp/

server/firebase-admin.json
.env
*.key
*.pem

